/* What can you do here to make sure the divs 
take up the same space */

div{
 width: 30%;
 background: #00ffff;
 height: 500px;
 
 display:inline-block; 
 /* Also try table-cell */
 /* float: left */
 /* overflow: scroll; */
float:left; 
overflow: scroll;
}